On importe le fichier

In [9]:
import pandas as pd
df = pd.read_csv("Data_IRFCL_ARA.csv",delimiter=",")

In [13]:
df.columns

Index(['country', 'iso', 'year', 'deposits', 'securities', 'country_id',
       'region', 'reserves_ara', '_merge', 'share_securities',
       'share_deposits'],
      dtype='object')

In [14]:
print(df)

           country  iso  year  deposits  securities  country_id region  \
0           ANGOLA  AGO  1999       NaN         NaN         2.0    AFR
1           ANGOLA  AGO  2000       NaN         NaN         2.0    AFR
2           ANGOLA  AGO  2001       NaN         NaN         2.0    AFR
3           ANGOLA  AGO  2002       NaN         NaN         2.0    AFR
4           ANGOLA  AGO  2003       NaN         NaN         2.0    AFR
...            ...  ...   ...       ...         ...         ...    ...
3695  South Africa  ZAF  1994       NaN         NaN         NaN    AFR
3696  South Africa  ZAF  1995       NaN         NaN         NaN    AFR
3697  South Africa  ZAF  1996       NaN         NaN         NaN    AFR
3698  South Africa  ZAF  1997       NaN         NaN         NaN    AFR
3699  South Africa  ZAF  1998       NaN         NaN         NaN    AFR

      reserves_ara          _merge  share_securities  share_deposits
0              NaN     Matched (3)               NaN             NaN
1              NaN     Matched (3)               NaN             NaN
2              NaN     Matched (3)               NaN             NaN
3              NaN     Matched (3)               NaN             NaN
4              NaN     Matched (3)               NaN             NaN
...            ...             ...               ...             ...
3695     23.060787  Using only (2)               NaN             NaN
3696     27.299618  Using only (2)               NaN             NaN
3697     14.669089  Using only (2)               NaN             NaN
3698     35.768669  Using only (2)               NaN             NaN
3699     32.846752  Using only (2)               NaN             NaN

[3700 rows x 11 columns]